<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>React praktika</title>
    </head>
    <link rel="stylesheet" href="css/style.css"
    <body>

        {{{body}}}
    </body>
</html>